@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300&display=swap');
body {
  font-family: 'Newsreader', serif;
  background-image: url("https://images.unsplash.com/flagged/photo-1578928534298-9747fc52ec97?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 550px;
  padding: 0;
  margin: 0;
  background-color: black;
}
p {
  color: white;
  text-align: center;
  font-size: 20px;
  text-decoration: underline solid linen 1.5px;
}
.welcome {
    text-align: center;
    color: white;
    font-family: "Garamond", serif;
    font-weight: 300;
    font-size: 32px;
}
h4 {
  text-align: center;
  color: white;
  font-family: "Garamond", serif;
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 4em;
}
.rsvpForm, .mylink2, a {
    text-align: center;
    margin: auto;
    color: linen;
    font-family: "Garamond", serif;
    font-weight: 400;
    text-decoration: underline solid linen 1.3px;
    background-color: black;
    max-width: 20%;
    cursor: pointer;
    border-radius: 20px;
}
footer,
.mylink {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: red;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
:visited {
  color: linen;
}
@media only screen and (min-width: 800px) {
    .rsvpForm {
      text-align: center;
      margin: auto;
      color: Blue;
      font-family: "Garamond", serif;
      font-weight: 400;
      text-decoration: none;
      background-color: red;
      max-width: 18%;
      cursor: pointer;
      border-radius: 20px;
    }
  }  